<app-header></app-header>

<div class="text-center title">
	<h1>{{ title }} </h1>
</div>

<div class="container">
	<div class=" content">
		<div class="content-pic">
			<img src="../assets/img/nerd02.png" alt="nerd" class="content-pic2">
		</div>
	<div class="card" style="width: 45rem; margin-left: 6rem;">
	  <div class="card-header list-title">
	    <strong>Key Points</strong>
	  </div>
	  <ul class="list-group list-group-flush list">
	    <li class="list-group-item list-odd">NgModules: Defined with @NgModule()</li>
	    <li class="list-group-item list-even">Differ but compliment ES2015 Modules</li>
	    <li class="list-group-item list-odd">Associates components with related code i.e. Services</li>
	    <li class="list-group-item list-even">AppModule: Root module. Bootstrap mechanism that launches the application</li>
	    <li class="list-group-item list-odd">Typical applications have many AppModules</li>
	  </ul>
	</div>
	

</div>
<br>
<br>
<hr>


<div class="container meta">
	<div class="title text-center">
		<h2>Metadata</h2>
	</div>
	<div class="tabs">
		<nav>
			<div class="nav nav-tabs" id="nav-tab" role="tablist">
			<a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Overview</a>
			<a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Sample Code</a>

			</div>
		</nav>
	<div class="tab-content meta" id="nav-tabContent">
  		<div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
			<div class="card" style="width: 65rem;">
			  <div class="card-header list-title">
			    <strong>Key Points</strong>
			  </div>
			  <ul class="list-group list-group-flush list">
			    <li class="list-group-item list-odd"><strong>Declarations:</strong> Components directives and pipes</li>
			    <li class="list-group-item list-even"><strong>Exports:</strong> Visible and usable in component templates of other NgModules. </li>
			    <li class="list-group-item list-odd"><strong>Imports:</strong> Other modules needed in this NgModule</li>
			    <li class="list-group-item list-even"><strong>Providers:</strong> Creators</li>
			    <li class="list-group-item list-odd"><strong>Bootstrap:</strong> Root component. Main app view. Set this property in root NgModule </li>
			  </ul>
			</div>
  		</div>
  		<div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
  			<img src="../assets/img/code01.png" alt="source code">

  		</div>
	</div>
</div>