.title {
	margin-top: 2.5rem;
}


.content {
	margin-top: 2rem;
	display: flex;
	flex-direction: row;
}

.content-pic {

}

.content-pic2 {
	margin-top: 2rem;
	width: 15rem;
}

.list {
	
	border: 2px solid yellow;


}

.list-title {
	background-color: yellow;
	text-align: center;
}

hr {
	color: blue;
	border: 5px solid blue;
	border-radius: 5px;
}

.list-even {
	background-color: lightgrey;
}

.meta {
	margin-bottom: 4rem;
}