<app-header></app-header>
<div class="text-center title">
	<h1>{{ title }} </h1>
</div>

<div class="container">
	<div class=" content">
		<div class="content-pic">
			<img src="../assets/img/nerd03.png" alt="nerd" class="content-pic2">
		</div>
	<div class="tabs">
		<nav>
			<div class="nav nav-tabs" id="nav-tab" role="tablist">
			<a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Displaying Data</a>
			<a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Templating</a>
			<a class="nav-item nav-link" id="nav-styling-tab" data-toggle="tab" href="#nav-styling" role="tab" aria-controls="nav-styling" aria-selected="false">Styling</a>

			</div>
		</nav>
	<div class="tab-content meta" id="nav-tabContent">
  		<div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
			<div class="card" style="width: 55rem;">
			  <div class="card-header list-title">
			    <strong>Key Points</strong>
			  </div>
			  <ul class="list-group list-group-flush list">
			    <li class="list-group-item list-odd"><strong>One:</strong> </li>
			    <li class="list-group-item list-even"><strong>Two: </strong> </li>
			    <li class="list-group-item list-odd"><strong>Three:</strong> </li>
			    <li class="list-group-item list-even"><strong>Four:</strong></li>
			    <li class="list-group-item list-odd"><strong>Five:</strong> </li>
			  </ul>
			</div>
  		</div>
  		<div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab" style="width: 55rem;">
			<div class="card" style="width: 55rem;">
			  <div class="card-header list-title">
			    <strong>Key Points</strong>
			  </div>
			  <ul class="list-group list-group-flush list">
			    <li class="list-group-item list-odd"><strong>One:</strong> </li>
			    <li class="list-group-item list-even"><strong>Two: </strong> </li>
			    <li class="list-group-item list-odd"><strong>Three:</strong> </li>
			    <li class="list-group-item list-even"><strong>Four:</strong></li>
			    <li class="list-group-item list-odd"><strong>Five:</strong> </li>
			  </ul>
			</div>
  		</div>
  		<div class="tab-pane fade" id="nav-styling" role="tabpane1" aria-labelledby="nav-styling-tab" style="width: 55rem;">
			<div class="card" style="width: 55rem;">
			  <div class="card-header list-title">
			    <strong>Key Points</strong>
			  </div>
			  <ul class="list-group list-group-flush list">
			    <li class="list-group-item list-odd"><strong>One:</strong> </li>
			    <li class="list-group-item list-even"><strong>Two: </strong> </li>
			    <li class="list-group-item list-odd"><strong>Three:</strong> </li>
			    <li class="list-group-item list-even"><strong>Four:</strong></li>
			    <li class="list-group-item list-odd"><strong>Five:</strong> </li>
			  </ul>
			</div>
  		</div>
	</div>
	</div>
</div>

<hr>
<div class="container title">
	<h2>Putting It All Together</h2>
</div>
